apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - helmrepository_policy-reporter.yaml
  - helmrelease_policy-reporter.yaml
  - policies
